body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container{
  width: 50%;
  height: 28rem;
  box-shadow: 1px 1px 10px 1px;
  margin: 8rem;
}

.h3 {
  font-size: 20px;
}

.button {
  padding: 5px;
  margin: 15px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.div-2 {
  border: 2px solid black;
  height: 10rem;
  margin: 20px;
  margin-top: 40px ;
  font-weight: 600;
  color: black;

}